.projectsBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.projects{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 70vh;
}

.projectCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    height: 100%;
}

.projectCard:hover{
    background-color: rgb(78, 78, 78);
}

.image{
    width: 100%;
}

.description{
    width: 100%;
}

.buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.button{
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgba(255, 181, 96, 0.1);
    border: 2px solid rgb(255, 181, 96);
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    width: 100%;
}

.button:hover{
    background-color: rgb(255, 181, 96);
    color: #1f1f1f;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 181, 96, 0.6);
    transition: all 0.2s ease-in-out;
}

@media (max-width: 768px) {
    .projects{
        flex-direction: column;
        height: 100%;
    }
}