.header{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(20, 20, 20);
    color: white;
}

.nameBox{
    margin: 5px;
    padding: 5px;
}

.nameBox p, h1{
    margin: 0;
    padding: 0;
}

.navigation{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.link{
    all: unset;
    cursor: pointer;
    display: flex;
    font-size:xx-large;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}

.link:hover{
    background-color: rgb(50, 50, 50);
}

.link:active{
    background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
    .header{
        width: 100%;
        flex-direction: column;
        position: fixed;
        height: 15vh;
    }
    
    .nameBox{
        height: 50%;
        width: 100%;
        margin: 0;
        margin-left: 5%;
        margin-top: 5px;
        padding: 0 5px 0 5px;
    }

    .name{
        font-size: larger;
    }

    .title{
        font-size: small;
    }

    .navigation{
        justify-content: space-between;
        height: 50%;
        width: 100%;
        margin: 0;
        margin-top: 2%;
        padding: 0;
        border-top: 1px solid white;
    }

    .link{
        font-size: smaller;
        background-color: rgb(30, 30, 30);
        width: 100%;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0.1);
    }
}