.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(20, 20, 20);
    color: white;
}

.nameBox{
    margin: 5px;
    padding: 5px;
}

.nameBox p, h1{
    margin: 0;
    padding: 0;
}

.navigation{
    margin: 5px;
}

a{
    text-decoration: none;
    color: white;
    margin: 5px;
    padding: 5px;
}